* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	
	/*border: 5px dashed red;*/
	
	width: 100%;
	background: rgb(255, 255, 255);

}

html{
	font-size: 16px;
	font-family: 'Comfortaa', cursive;
	color: #000
}

.disclaimer{
	display: none;
}

@media screen and (max-width: 250px) {

	.disclaimer{
		align-items: center;
		text-align: center;
		display: flex;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;

		font-family: lighter;
	}


	.container{
		display: none !important;
	}
}


.titulo {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	right: 0;
	left: 0;
	padding: 20px;
	overflow: hidden;
	border-bottom-left-radius: 15% 10%;
	border-bottom-right-radius: 15% 10%;	
	font-size: 20px;
	color: rgba(255,255,255,1);
	background: #48C78E;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
	-webkit-transform: rotateX(0.5729577951308232deg)   ;
	transform: rotateX(0.5729577951308232deg)   ;
	
}

@media screen and (max-width: 500px){
	.titulo {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		padding: 20px;
		overflow: hidden;
		border-bottom-left-radius: 20% 5%;
		border-bottom-right-radius: 20% 5%;
		font-size: 20px;
		color: rgba(255,255,255,1);
		background: #c74848;
		-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
		box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
		
	}
}

.subt{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: bold;
	font-size: 30px;
	color: black;
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	word-spacing: 18px;
	padding-bottom: 30px;
	padding-top: 30px;
	
}

@media screen and (max-width: 500px) {
	.subt{
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		border: none;
		font: bold;
		font-size: 20px;
		color: black;
		text-align: center;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		word-spacing: 18px;
		padding-bottom: 30px;
		padding-top: 30px;
		text-align: center;
		
	}
}



.desc{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	right: 0;
	left: 0;
	padding: 35px;
	padding-bottom: 50px;
	overflow: hidden;
	border: none;
	font-size: 20px;
	width: fit-content;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: lighter;
	text-align: justify;
}

@media screen and (max-width: 500px){
	.desc{
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		right: 0;
		left: 0;
		padding: 30px;
		padding-bottom: 30px;
		overflow: hidden;
		border: none;
		font-size: 17px;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 5px;
		font-weight: lighter;
		text-align: justify;
	}
}

/*Poner los @media queries after el .algo declarado*/


.video-container{
    margin-left: auto;
    margin-right: auto;
	position: relative;
  	overflow: hidden;
  	width: 50%;
  	padding-top: 28.125%;
}

.responsive-iframe{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}


.tivid{
	font-weight: bolder;
	text-align: center;
	font-size: 30px;
}

.tivid1{
	font-weight: bolder;
	text-align: center;
	font-size: 30px;
	padding-top: 45px;
}

.desvid{
	font-weight: lighter;
	padding: 15px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 25px;
}

.pie{
	font-weight: lighter;
	font-size: 17px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background: #eeeeee;

}

.auts{
	font-weight: lighter; 
	font-size: 17px; 
	padding-top: 5px
}


@media screen and (max-width: 500px){
	.video-container{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
		width: 80%;
		padding-top: 50%;
	}
	
	.responsive-iframe{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	.pie{
		font-weight: lighter;
		font-size: 12px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		background: #eeeeee;
		position: fixed;
		bottom: 0;
	}

	.auts{
		font-weight: lighter; 
		font-size: 15px; 
		padding-top: 5px
	}
}




/*
light 300
regular 400
medium 500
semi-bold 600
bold 700
*/